/*


 */

/* Selecting everything in the web page */
*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #eee;
  color: white;
}

.bg-image{
  width: 100%;
  height: 600px;
  background-image: url("../images/susnset_forest.jpg");
  background-repeat: no-repeat;
}

.container{
 width: 960px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  color: #fff;

}

nav>ul>li{
  list-style: none;
  float: left;
}

nav>ul>li>a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px 0 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  /* from top is zero from left is 20px from bottom is zero from right is 20px */
}

nav>ul{
  position: absolute;
  right: 150px;
}

.btn{
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color:  #014421;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 0;

}


.logo{
   font-family: 'Noto Sans KR', sans-serif;
   color: #fff;
   font-size: 35px;
   position: absolute;
   padding: 20px ;
   left: 0;
}

.header{
  width: 60px;
  padding: 20px;
}

.brand-quote{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  padding-left: 20px;
  position: relative;
  top: 100px;

}

.para{
  width: 500px;
  font-family: 'Xanh Mono', monospace;
  color: #fff;
  position: relative;
  top: 100px;
  padding-left: 20px;
}
